---
CMS_OAUTH2_SECRET: "{{ 24|random_string }}"
ID: "{{ 24|random_string }}"
JWT_RSA_PRIVATE_KEY: "{{ 2048|rsa_private_key }}"
MEILISEARCH_MASTER_KEY: "{{ 24|random_string }}"
MEILISEARCH_API_KEY_UID: "{{ 4|uuid }}"
MEILISEARCH_API_KEY: "{{ MEILISEARCH_MASTER_KEY|uid_master_hash(MEILISEARCH_API_KEY_UID) }}"
MYSQL_ROOT_PASSWORD: "{{ 8|random_string }}"
OPENEDX_MYSQL_PASSWORD: "{{ 8|random_string }}"
OPENEDX_SECRET_KEY: "{{ 24|random_string }}"
PLUGINS:
  # enabled by default
  - mfe
  - indigo
PLUGIN_INDEXES:
  # Indexes in this list will be suffixed with the Open edX named version and
  # "plugins.yml". E.g: https://overhang.io/tutor/main/sumac/plugins.yml
  - https://overhang.io/tutor/main
  - https://overhang.io/tutor/contrib
