.*.swp
!.gitignore
TODO
__pycache__
*.egg-info/

/build/
/dist/
/release_description.md

# Unit test/ coverage reports
.coverage
/htmlcov/

# Copied at build-time
/tutor-openedx/tutoropenedx/__about__.py