Install this version from pip with:

    pip install "tutor[full]=={{ version.vtext[1:] }}"

Or download the compiled binaries:

    sudo curl -L "https://github.com/overhangio/tutor/releases/download/{{ version }}/tutor-$(uname -s)_$(uname -m)" -o /usr/local/bin/tutor
    sudo chmod 0755 /usr/local/bin/tutor

See the [installation docs](https://docs.tutor.edly.io/install.html) for more installation options and instructions.

## Changes

{{ body }}
