x-openedx-job-service:
  &openedx-job-service
  image: {{ DOCKER_IMAGE_OPENEDX_DEV }}
  build:
    context: ../build/openedx/
    target: development
    args:
      # Note that we never build the openedx-dev image with root user ID, as it would simply fail.
      APP_USER_ID: "{{ HOST_USER_ID or 1000 }}"
  volumes:
    # Settings & config
    - ../apps/openedx/settings/lms:/openedx/edx-platform/lms/envs/tutor:ro
    - ../apps/openedx/settings/cms:/openedx/edx-platform/cms/envs/tutor:ro
    - ../apps/openedx/config:/openedx/config:ro
    # theme files
    - ../build/openedx/themes:/openedx/themes

services:

  lms-job:
    <<: *openedx-job-service

  cms-job:
    <<: *openedx-job-service

  {{ patch("dev-docker-compose-jobs-services")|indent(2) }}
