x-openedx-service:
  &openedx-service
  image: {{ DOCKER_IMAGE_OPENEDX_DEV }}
  stdin_open: true
  tty: true
  volumes:
    # theme files
    - ../build/openedx/themes:/openedx/themes

services:
  permissions:
    environment:
      OPENEDX_USER_ID: "{{ HOST_USER_ID or 1000 }}"

  lms:
    <<: *openedx-service
    command: ./manage.py lms runserver 0.0.0.0:8000
    environment:
        DJANGO_SETTINGS_MODULE: lms.envs.tutor.development
    ports:
        - "8000:8000"
    networks:
      default:
        aliases:
          - "{{ LMS_HOST }}"

  cms:
    <<: *openedx-service
    command: ./manage.py cms runserver 0.0.0.0:8000
    environment:
        DJANGO_SETTINGS_MODULE: cms.envs.tutor.development
    ports:
        - "8001:8000"

  lms-worker:
    <<: *openedx-service

  cms-worker:
    <<: *openedx-service

  # Additional service for watching theme changes
  watchthemes:
    <<: *openedx-service
    command: npm run watch-sass
    restart: unless-stopped

  {% if RUN_ELASTICSEARCH and is_docker_rootless() %}
  elasticsearch:
    ulimits:
      memlock:
        # Fixes error setting rlimits for ready process in rootless docker
        soft: 0  # zero means "unset" in the memlock context
        hard: 0
  {% endif %}

  {{ patch("local-docker-compose-dev-services")|indent(2) }}
