name: Run tests

on:
  push:
    branches:
      - release
      - main
  pull_request:
    branches:
      - release
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
         python-version: ['3.9', '3.12']
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version:  ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: requirements/dev.txt
      - name: Upgrade pip
        run: python -m pip install --upgrade pip setuptools
      - name: Install dependencies
        run: pip install -r requirements/dev.txt
      - name: Static code analysis
        run: make test-lint
      - name: Python unit tests
        run: make test-unit
      - name: Static type checks
        run: make test-types
      - name: Code formatting
        run: make test-format
      - name: Package tests
        run: make test-pythonpackage
      - name: Install docs dependencies
        run: pip install -r requirements/docs.txt
      - name: Build docs
        run: make docs
