name: Run tests

on:
  push:
    branches: [ master, nightly ]
  pull_request:
    branches: [ master, nightly ]

jobs:
  # Run a subset of the test suite using the oldest-supported Python version.
  tests-compat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Upgrade pip
        run: python -m pip install --upgrade pip setuptools==44.0.0
      - name: Install dependencies
        run: pip install -r requirements/dev.txt
      - name: Static code analysis
        run: make test-lint
      - name: Python unit tests
        run: make test-unit
  # Run the full test suite using the preferred version of Python.
  tests-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Upgrade pip
        run: python -m pip install --upgrade pip setuptools==44.0.0
      - name: Install dependencies
        run: pip install -r requirements/dev.txt
      - name: Static code analysis
        run: make test-lint
      - name: Python unit tests
        run: make test-unit
      - name: Static type checks
        run: make test-types
      - name: Code formatting
        run: make test-format
      - name: Package tests
        run: make test-pythonpackage
      - name: Install docs dependencies
        run: pip install -r requirements/docs.txt
      - name: Build docs
        run: make docs
